<div class="outer">
  @if (!(reservation.note === "")) {
    <i class="fa-regular fa-note-sticky"></i>
  }
  @if (!reservation.isPaid) {
    <i class="fa-solid fa-exclamation"></i>
  }
</div>
<mat-card class="primary">
  <div class="resData">
    <div>
      Parcela
    </div>
    <div>
      <p>{{ reservation.camperPlace.index }}</p>
    </div>
  </div>
  <div class="resData">
    <div>
      Gość
    </div>
    <div>
      <p>{{ reservation.guest.firstname + " " + reservation.guest.lastname }}</p>
    </div>
  </div>
  <div class="resData date">
    <div>
      Termin
    </div>
    <div>
      <p>{{ formatData() }}</p>
    </div>
  </div>

  <div class="resData price">
    <div>
      Kwota
    </div>
    <div>
      <p>{{ reservation.price }}</p>
    </div>
  </div>

  <div class="resData checkboxes">
    <div>
      <mat-checkbox [(ngModel)]="reservation.isChecked"><span>zakwaterowane</span></mat-checkbox>
    </div>
    <div>
      <mat-checkbox [(ngModel)]="reservation.isPaid"><span>zapłacone</span></mat-checkbox>
    </div>
  </div>
<div class="note">
  <div>
    Notatka
  </div>
  <div>
    <p class="textNote" [class.showMore]="showMore" (click)="showMore = !showMore">{{ reservation.note }}</p>
  </div>
</div>
  @if (showMore) {
    <button class="showNote" (click)="showMore = !showMore">schowaj</button>
  }

</mat-card>
