.card {
  display: flex;
  flex-direction: column;
  border: solid white 2px;
  padding: 12px;
  gap: 10px;
  border-radius: 15px;
}

.data {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

mat-card {
  border-radius: 30px;
  padding: 18px;
  width: 100%;
}


.noteSection {
  width: 100%;
  overflow-block: hidden;
  text-align: start;
  padding: 0 15px 0 15px;
  margin: 0;

}



.cutHeight {
  max-height: 50px;
}

.showNote {
  align-self: end;
  margin-left: auto;
  background-color: inherit;
  border: none;
  color: deepskyblue;
}

.showNote:hover {
  cursor: pointer;
}


.fa-regular.fa-note-sticky {
  color: #c0c003 !important;
}

.fa-solid.fa-exclamation {
  color: #dd0000 !important;
}

.note {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: none !important;
  margin-top: 2px;
}

.outer {
  display: flex;
  justify-items: start;
  margin-bottom: 2px;
  margin-left: 5px;
  gap: 10px
}

.resData {
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  padding: 4px;
  width: 100%;
  gap: 60%
}

.date {
  gap: 38%;
}

p {
  margin: 0;
}
.textNote {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.textNote:hover {
  cursor: pointer;
}
.showMore {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  max-height: none;
}
.checkboxes {
  display: flex;
  justify-content: start;
  gap:10%;
}
