mat-card {
  display: flex;
  height: 100px;
  border-radius: 30px;
  border: solid white 2px;
  max-width: 220px;
  flex-shrink: 0;
  gap: 10px;
}
mat-card:hover {
  cursor: pointer;
  background-color: #292929 !important;
}

.day {
  width: 100%;
  text-align: start;
  padding: 8px 0 0 20px;
}
.checkin {
  background-color: blue !important;
}
.checkin:hover {
  background-color: #2d2dfb !important;
}
.fa-solid.fa-exclamation {
  color: #dd0000 !important;

}
i {
  font-size: x-large;

}
.exclamation {
  width: 100%;

}
