<mat-card class="secondary shadow">
  <app-date-picker class="secondary" (month)="changeMonth($event)" (year)="changeYear($event)"></app-date-picker>
  <table class="header secondary">
    <thead>
        <tr >
          <th class="day"></th>
          @for (day of days; track day) {
            <th class="day">{{ day }}</th>
          }
        </tr>
    </thead>
  </table>
  <div class="table-scroll">
    <table>
    <tbody>
        @for (camperPlace of camperPlaces$ | async; track camperPlace) {
          <tr>
            <th>{{camperPlace.index}}</th>
            @for (day of days; track day) {
              <td>
                <div  #data [ngClass]="{
                'data': true,
                'reserved': isDayReserved(year, month , day, camperPlace)
                }">
                  <div #left
                    [ngClass]="{
                      'cell': true,
                      'left': true,
                      'nextToCheckin':isCheckin(year, month, day , camperPlace),
                    }" (click)="openFormPopup(year, month , day, camperPlace, $event)"></div>
                  <div #right
                     [ngClass]="{
                      'cell': true,
                      'right': true,
                      'nextToCheckout':isCheckout(year, month, day, camperPlace),
                    }" (click)="openFormPopup(year, month , day, camperPlace, $event)"></div>
                </div>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</mat-card>

