mat-card {
  padding: 0 25px 25px 25px;
  width:100%;
  overflow-y: auto;
  height: 100%;
}
table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  z-index: 0;
}
th {
}
td {
  align-content: start;
}
.data {
  display: flex;
  flex-direction: row;
  width: 100%;
  height:100%;
  margin: 0;
  background-color:#beffd0;
  border: solid black 1px ;
}
.data:hover {
  cursor: pointer;
  background-color: #a3fab9;
}
.cell {
  width: 50%;
}
.left {
}
.right {
}
.days {
  max-height: 30px;
}
thead {
  position: sticky;
  height: 100%;
  width: 100%;
  top: 35px;
  z-index: 100;
  margin: 0;
  gap: 0;
}
.cover {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  z-index: 150;
  max-height: 50px;
}
app-date-picker {
  padding: 10px 5px;
  background: white;
  z-index: 200;
  justify-items: end;
}
.table-scroll {
  overflow-y: auto;
  flex-grow: 1;
}
.day {
  padding-right: 20px;
}
.reserved {
  background-color: red;
}
