mat-grid-list {
  height: 100% !important;
}
.content {
  height: 100%;
}
.singleCalendar {
  display: flex;
  justify-self: center;
  height: 90%;
  width: 90%;
}
mat-grid-tile {
  margin-left: 10px;
}

app-calendar {
  height: 100%;
}
