.content {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  gap: 55px;
  height: 100%;
  margin-left: 20px;
}

.whenNoResPanel {
  align-self: start;
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 7;
}

.withResPanel {
  grid-row-start: 3;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 5;
}
app-reservation-panel {
  align-self: start;
  margin-top: 20px;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 6;
  grid-column-end: 6;
}


app-date-picker {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
