.card {
  display: flex;
  flex-direction: column;
  border: solid white 1px;
  padding: 12px;
  gap: 10px;
  border-radius: 15px;
  flex-shrink: initial;

}

.data {
  display: flex;
  flex-direction: row;
  gap: 20px;


}

mat-card {
  flex: 1 1 0;
  border-radius: 30px;
  background-color: #313131 !important;
  padding: 12px;
  min-width: 0;
  font-size: small;
  text-align: center;
}

span {
  color: white;
}


p {
  width: 100%;
}

.cutHeight {
  max-height: 50px;
}

.showNote {
  align-self: end;
  margin-left: auto;
  background-color: inherit;
  border: none;
  color: deepskyblue;
}

.showNote:hover {
  cursor: pointer;
}

.checkboxes {
  width: 100%;
  display: flex;
  align-items: end;
}

.fa-regular.fa-note-sticky {
  color: #c0c003 !important;
}

.fa-solid.fa-exclamation {
  color: #dd0000 !important;
}
.cpIndex {
  background-color: inherit !important;
  align-self: center;
}

.note {
  width: 100%;
  height: fit-content;
}

.outer {
  display: flex;
  justify-items: start;
  margin-bottom: 2px;
  margin-left: 5px;
  gap: 10px
}

.checkboxes .note {
  flex: 1 1 0;
  min-width: 0;
}
