.card {
  display: flex;
  flex-direction: column;
  border: solid white 2px;
  padding: 12px;
  gap: 10px;
  border-radius: 15px;
}
.data {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
mat-card {
border-radius: 30px;
  background-color: #313131 !important;
  padding: 12px;
  width: fit-content;
}
span {
  color: white;
}

.noteSection {
  width: 100%;
  overflow-block: hidden;
  text-align: start;
  padding: 0 15px 0 15px;
  margin: 0;

}
p {
  width: 100%;
  }
.cutHeight {
  max-height: 50px;
}

.showNote {
  align-self: end;
  margin-left: auto;
  background-color: inherit;
  border: none;
  color: deepskyblue;
}
.showNote:hover {
  cursor:pointer;
}

.checkboxes {
  width: 100%;
  display: flex;
  align-items: end;
}
.fa-regular.fa-note-sticky {
  color: #c0c003 !important;
}
.fa-solid.fa-exclamation {
  color: #dd0000 !important;
}
.note {
  width: 100%;
  height: fit-content;
}
.outer {
  display: flex;
  justify-items:start;
  margin-bottom: 2px;
  margin-left: 5px;
  gap: 10px
}
