mat-card {
  display: flex;
  width: 25vw;
  height: 95vh;
  padding: 40px 30px 40px 30px;
  gap: 20px;
  overflow-y: scroll;
  justify-self: end;
  align-self: end;
  margin-right: 10px;
}

i {
  align-self: end;
  font-size: large;
  position: sticky;
  top: 5px;
  right: 0;
}
i:hover{
  cursor: pointer;
}
