/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color-primary: #F5F5F5;
  --bg-color-secondary: #FFFFFF;
  --bg-color-tertiary: #3B82F6;
  --container-blury: rgba(255, 255, 255, 0.8)
}

.primary {
  background-color: var(--bg-color-primary) !important;
}

.secondary {
  background-color: var(--bg-color-secondary) !important;
}

.tertiary {
  background-color: var(--bg-color-tertiary) !important;
}

.blury {
  background-color: var(--container-blury) !important;
}


html, body {
  height: 100%;
  background-color: var(--bg-color-primary);
}


body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}
:root {
  --mdc-outlined-text-field-container-shape: 30px;
  /*--mdc-filled-button-container-color:  #010065;*/
}

