.content {
  display: flex;
  gap: 50px;
  color: white;
  font-size: x-large;
  justify-content: start;
  margin-left: 50px ;
}
.arrow {
  background-color: inherit;
  border: inherit;
  color: white;
  padding: 0;
}
.arrow:hover {
  cursor: pointer;
  color: #ccc;
}

i {
  font-size: x-large;
}
p {
  white-space: nowrap;
  width: 200px;
  text-align: center;
}
